div
  h3= 'Mouse move'
  each binding in config.mousemove
    div(class='card fluid')
      each prop in binding
        div(class='section')
          div(class='row')
            div(class='col-sm col-md col-lg')
              span= prop.field
            div(class='col-sm col-md col-lg')
              span= prop.value
  h3= 'Key press'
  each binding in config.press
    div(class='card fluid')
      each prop in binding
        div(class='section')
          div(class='row')
            div(class='col-sm col-md col-lg')
              span= prop.field
            div(class='col-sm col-md col-lg')
              span= prop.value